header{
    background-color: aqua;
    position: fixed !important;
    top: 0px!important;
    left: 0px!important;
    width: 100%;
    border-bottom: 1px solid #BCC900;
    z-index: 2000;

 
    .navbar-brand{
        
        align-items: center;
        align-content: center;
        width: 317px;
        display: block;
            
        img{
            width: 100%;
            vertical-align: baseline;
        }

        @media (max-width: 575.98px) { 
            width: 200px;
         }

    }
    a{
       display: block;
    }
   
    nav{
        .dropdown-menu{
            border: none;
        }
    }
   
}
