header{
background-color: aqua;
    .navbar-brand{
        width: 100px;
            display: block;
            width: 300px;
            img{
                width: 100%;
            }
       
    }
    a{
       display: block;
       
    }
   
}
