
main{
    
    .slider{
        padding-top: 0px;
        padding-bottom: 0px;
        
        .owl-nav{
            padding: 2rem;
            position: absolute;
            transform: translateY(50%);
            top: 30%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            // Personalizar el color del botón de navegación
            .owl-prev,
            .owl-next, span {
                font-size: 5rem;
                color: aliceblue;
            }
        }
    }

    /*=========
        home
    ===========*/

    .servicios{
        background-color: #393939;
        h4{
            text-align: center;
        }

        &__card-group{
            display: flex;
            flex-shrink: 1;
            gap: 2rem;
            flex-wrap: wrap;
            max-width: 100%;
            

            @media (max-width: 575.98px) { 
                flex-wrap: nowrap;
                overflow-x: auto;
                padding-bottom: 2rem;
             }
           .card{
                    width: 30%;
                   background-color:  transparent;
                   color: white;
                   border: none;
                   flex-shrink: 0;
                   display: flex;

                   @media (max-width: 575.98px) { 
                    width: 80%;
                 }
                }

                
        }
    }

    .testimonios{
        .item{
            padding-top: 4rem;

            .comentario{   
                padding: 2rem;
                border: 1px solid #D9D9D9;
                border-radius: 16px;
                width: 400px;
                p{
                    margin-top: 3rem;
                    text-align: center;
                }
                .avatar{
                    position: absolute;
                    display: block;
                    height: 60px;
                    width: 90px;
                    top: 16px;
                    left: 36%;
                    z-index: 700;
                }
        }
       

            
        }
        
        .owl-nav{
            width: 30%;
            margin: 0 auto;
            text-align: center;
            display: flex;
            justify-content: space-between;
            // Personalizar el color del botón de navegación
            .owl-prev,
            .owl-next, span {
                font-size: 5rem;
                line-height: 1;
                color: #49A9F5;
            }
        }
    }
  /*=========
       pg nosotros
    ===========*/


    .nosotros{
    
        &-banner{
            padding-top: 0px !important;
        
        }
        
        
    }

     /*=========
       pgs Servicios
    ===========*/

    

    
}


