img{
    width: 100%;
    display: block;
}
section{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
main{
    .slider{
        position: relative;
        padding-top: 0px;
        padding-bottom: 0px;
        img{
            width: 100%;
        }
        .owl-nav{
            padding: 2rem;
            position: absolute;
            transform: translateY(50%);
            top: 50%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            // Personalizar el color del botón de navegación
            .owl-prev,
            .owl-next, span {
                font-size: 5rem;
                color: aliceblue;
            }
        }
    }

    .nosotros{
    
    }

    .servicios{
        background-color: #393939;
        h4{
            text-align: center;
        }

        &__card-group{
            display: flex;
            flex-shrink: 1;
            gap: 2rem;
           .card{
                    width: 30%;
                   background-color:  transparent;
                   color: white;
                   border: none;
                }
        }
    }
}